@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(222, 26%, 31%);
    font-family: 'League Spartan', sans-serif;
}

main {
    width: 25rem;
    max-width: 95%;
    margin: 4rem auto;
}

section {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1.2rem;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

#header #logo {
    cursor: pointer;
}

#header #theme {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#header #theme h4 {
    font-size: .7rem;
}

main #screen {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 24px;
    width: 100%;
    color: hsl(0, 100%, 100%);
    text-align: right;
    background-color: hsl(224, 36%, 15%);
}

main #btn-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    width: 100%;
    height: 22rem;
    padding: 24px 24px;
    background-color: hsl(223, 31%, 20%);
}

main #btn-container .digit-btn {
    --text-size: 2rem;
    --text-color: hsl(221, 14%, 31%);
    --bg-color: hsl(0, 0%, 90%);
    --shadow-color: hsl(28, 16%, 65%);
}

main #btn-container .digit-btn:hover {
    background-color: hsl(0, 100%, 100%);
}

main #btn-container #del-btn {
    --text-size: 1.2rem;
    --text-color: hsl(0, 100%, 100%);
    --bg-color: hsl(225, 21%, 49%);
    --shadow-color: hsl(224, 28%, 35%);
}

main #btn-container #del-btn:hover {
    background-color: hsl(225, 21%, 65%);
}

main #btn-container #reset-btn {
    grid-column: 1 / 3;
    --text-size: 1.2rem;
    --text-color: hsl(0, 100%, 100%);
    --bg-color: hsl(225, 21%, 49%);
    --shadow-color: hsl(224, 28%, 35%);
}

main #btn-container #reset-btn:hover {
    background-color: hsl(225, 21%, 65%);
}


main #btn-container #operator-btn {
    grid-column: 3 / 5;
    --text-size: 1.2rem;
    --text-color: hsl(0, 100%, 100%);
    --bg-color: hsl(6, 63%, 50%);
    --shadow-color: hsl(6, 70%, 34%);
}

main #btn-container #operator-btn:hover {
    background-color: hsl(6, 63%, 59%);
}

main #btn-container button {
    font-size: var(--text-size);
    font-weight: 700;
    color: var(--text-color);
    background-color: var(--bg-color);
    text-align: center;
    user-select: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 3px var(--shadow-color);
}    
