@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: manipulation;
}

body {
    font-family: 'League Spartan', sans-serif;
    background-color: hsl(222, 26%, 31%);
}

main {
    width: 25rem;
    max-width: 98%;
    margin: 4rem auto;
}

section {
    width: 100%;
    border-radius: 8px;
}

main #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin-bottom: 1.2rem;
}

main #header #logo {
    cursor: pointer;
}

main #header #theme-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

main #header #theme-container h4 {
    font-size: .7rem;
}

main #display-section #calculator-display {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    padding: 16px 24px;
    width: 100%;
    color: hsl(0, 0%, 100%);
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: hsl(224, 36%, 15%);
    border: none;
    border-radius: 8px;
}

main #btn-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    width: 100%;
    height: 24rem;
    padding: 24px 24px;
    background-color: hsl(223, 31%, 20%);
}

main #btn-container .gray-btn {
    --text-size: 2rem;
    --text-color: hsl(221, 14%, 31%);
    --bg-color: hsl(0, 0%, 90%);
    --shadow-color: hsl(28, 16%, 65%);
}

main #btn-container .gray-btn:hover {
    background-color: hsl(0, 100%, 100%);
}

main #btn-container .gray-btn:active {
    background-color: hsl(0, 100%, 100%);
}

main #btn-container .navy-btn {
    --text-size: 1.2rem;
    --text-color: hsl(0, 100%, 100%);
    --bg-color: hsl(225, 21%, 49%);
    --shadow-color: hsl(224, 28%, 35%);
}

main #btn-container .navy-btn:hover {
    background-color: hsl(225, 21%, 65%);
}

main #btn-container .navy-btn:active {
    background-color: hsl(225, 21%, 65%);
}

main #btn-container #reset-btn {
    grid-column: 1 / 3;
}

main #btn-container #equal-btn {
    grid-column: 3 / 5;
    --text-size: 1.2rem;
    --text-color: hsl(0, 100%, 100%);
    --bg-color: hsl(6, 63%, 50%);
    --shadow-color: hsl(6, 70%, 34%);
}

main #btn-container #equal-btn:hover {
    background-color: hsl(6, 63%, 59%);
}

main #btn-container #equal-btn:active {
    background-color: hsl(6, 63%, 59%);
}

main #btn-container button {
    font-size: var(--text-size);
    font-weight: 700;
    margin-bottom: 0;
    color: var(--text-color);
    background-color: var(--bg-color);
    text-align: center;
    user-select: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 3px var(--shadow-color);
    transition: all 0.3s ease;
}    

/* For tablets screens */
@media (max-width: 48rem) {
    main {
        margin: 2rem auto 0;
    }   
}

/* For large screen mobile phones */
@media (max-width: 27rem) {
    main {
        display: block;
    }
    
    main #header #theme-container {
        gap: 1.5rem;
    }

    main #btn-container {
        height: 28rem;
    }
}

/* For medium screen mobile phones */
@media (max-width: 24rem) {
    main section {
        border-radius: 4px;
    }
    
    main #header {
        padding: 0.2rem;
    }

    main #display-section #calculator-display {
        border-radius: 4px;
    }

    main #header #theme-container h4 {
        font-size: 0.5rem;
    }

    main #display-section #calculator-display {
        padding: 16px 12px;
    }
    
    main #btn-container {
        padding: 12px 12px;
        gap: 16px;
    }
}